@import (once) "../include/vars";

.op-default {
    background-color: hsl(from @primaryColor h s l / 0.5) !important;
}

each(@colors, {
    .op-@{value} {background-color: hsl(from @@value h s l / 0.5) !important;}
    .op-@{value}-hi {background-color: hsl(from @@value h s l / 0.2) !important;}
    .op-@{value}-low {background-color: hsl(from @@value h s l / 0.8) !important;}
})
